.toggle {
  position: relative;
  box-sizing: border-box;
  --toggle-scale: .5;

  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  span {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  span:before {
    content: '';
    width: calc(75px * var(--toggle-scale));
    height: calc(42px * var(--toggle-scale));
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    box-sizing: border-box;
    transition: 0.2s ease-in;
  }

  span:after {
    content: '';
    position: absolute;
    width: calc(38px * var(--toggle-scale));
    height: calc(38px * var(--toggle-scale));
    border-radius: 50%;
    left: 2px;
    top: 2px;
    z-index: 2;
    background: #fff;
    box-sizing: border-box;
    transition: 0.2s ease-in;
  }

  input[type="checkbox"]:checked + span:before {
    background: #4BD865;
  }

  input[type="checkbox"]:checked + span:after {
    left: calc(35px * var(--toggle-scale));
  }
}
